    .cabecera {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .registro {
        max-width: 700px;
        background-color: #e2bda5;
        padding: 2.5rem;
        border-radius: 25px;
        margin: 20px auto;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    }

    .form-label {
        font-weight: light;
        color: #000;
    }

    .form-control,
    .form-select {
        border-radius: 10px;
    }

    .boton-registro {
        height: 40px;
        background-color: #cb6c77;
        border-color: #cb6c77;
        border-radius: 8px;
        font-weight: light;
    }

    .boton-registro:hover {
        background-color: #a34e58;
        border-color: #a34e58;
    }

    .paw-icon {
        font-size: 2rem;
        color: #bb5e69;
        margin-right: 10px;
    }

    h2 {
        font-weight: bold;
    }

    /* Estilo placeholder normal */
    ::placeholder {
        font-size: 1rem;
    }

    /* Responsive: placeholder más pequeño en móviles */
    @media (max-width: 575.98px) {
        ::placeholder {
            font-size: 0.75rem;
        }
    }